
.hola {
    background-color: #b6ff00;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 20px;
    width: 203px;
    text-align: center;
}

/* Para los label's alineados */
.form_label_align {
    float: left;
    width: 50%;
    text-align: right;
}

/* indicamos una pequeña separación en cada label, input, select y textarea */
label, input, select, textarea {
    margin-bottom: 0.3em;
}

.ss {
    display: inline-block;
    text-align: center;
}

table {
    margin: 15px;
    padding: 15px;
}


